<div id="<%= dom_id conduit %>">
  <p>
    <strong>Tag:</strong>
    <%= conduit.tag %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= conduit.size %>
  </p>

  <p>
    <strong>To:</strong>
    <%= conduit.to %>
  </p>

  <p>
    <strong>From:</strong>
    <%= conduit.from %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= conduit.project_id %>
  </p>

</div>
