<style type='text/css'>
  .group {
    padding-bottom: 0.5rem;
  }
  .entry {
    display: block;
    padding: 0.25rem;
  }
  .submit {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    text-align: right;
    border: solid green 1px;
    border-radius: 0.25rem;
    background-color: white;
    color: green;
    text-decoration: none;
  }
  .submit:hover {
    cursor: pointer;
    background-color: green;
    color: white;
  }
</style>

<%= form_with(model: conduit) do |form| %>
  <% if conduit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(conduit.errors.count, "error") %> prohibited this conduit from being saved:</h2>

      <ul>
        <% conduit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='group'>
    <%= form.label :tag %>
    <%= form.text_field :tag, class: 'entry' %>
  </div>
  <div class='group'>
    <%= form.label :size %>
    <%= form.text_field :size, class: 'entry' %>
  </div>
  <div class='group'>
    <%= form.label :to %>
    <%= form.text_field :to, class: 'entry' %>
  </div>
  <div class='group'>
    <%= form.label :from %>
    <%= form.text_field :from, class: 'entry' %>
  </div>
  <div class='group'>
    <%= form.label :project_id %>
    <%= form.number_field :project_id, class: 'entry' %>
  </div>
  <div>
    <%= form.submit class: 'submit' %>
  </div>
<% end %>
