<div id="<%= dom_id cable %>">
  <p>
    <strong>Tag:</strong>
    <%= cable.tag %>
  </p>

  <p>
    <strong>Conduit:</strong>
    <%= cable.conduit_id %>
  </p>

  <p>
    <strong>Conductors:</strong>
    <%= cable.conductors %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= cable.size %>
  </p>

  <p>
    <strong>Od:</strong>
    <%= cable.od %>
  </p>

</div>
